*.o
*.pyc
*.gz
CMakeLists.txt.user
/logs/
/player/demo_extension.so
/player/*
/player/keepaway_player
/player/Makefile.bak
/tools/hist
/tools/kwyzipper
/tools/winsum
.idea/
nohup.out
tools/*.out
tools/*.hist
tools/*.eps
console.log
*~
tools/*.gnuplot
breakpoints
build/
Debug/
Release/
cmake-build-debug/
data/*
keeper_Q_g1.0_l0.5_a0.125_w0.5_fsm_cem.log
taker_Q_g1.0_l0.5_a0.125_w0.5_fsm_cem.log
python_debug.log