*.o
*.pyc
/logs/
/player/demo_extension.so
/player/keepaway_player
/player/Makefile.bak
/tools/hist
/tools/kwyzipper
/tools/winsum
.idea/
nohup.out
tools/*.out
tools/*.hist
tools/*.eps
console.log
hive*-Q*
*~
tools/*.gnuplot
breakpoints
