language: cpp
os: linux
sudo: required
dist: trusty
compiler: gcc
before_script:
    - sudo apt-get update -qq
    - sudo apt-get install -y xutils-dev cmake libboost-all-dev
script: make all
notifications:
    email:
        recipients: aijunbai@gmail.com
        on_success: never
        on_failure: never

